@model Projet.Models.Agence

@{
    ViewBag.Title = "Delete";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h2>Delete</h2>

    <h3>Etes-vous sur de supprimer cette agence?</h3>
    <div>
        <h4>Agence</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ville)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ville)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Etat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Etat)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>
}
else
{
    <p><h2>Veuillez-Vous connecter pour voir le contenu de cette page!</h2></p>
    @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}