<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas Location</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Atlas Location", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Agences
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Active", "Disponnible", "Agences")</li>
                                <li>@Html.ActionLink("Tous les agences", "Index", "Agences")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Vehicules", "Index", "Vehicules")</li>
                        <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
                        <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Nos agences", "Disponnible", "Agences")</li>
                        <li>@Html.ActionLink("Nos voitures", "Disponnible", "Vehicules")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Atlas Location - @Html.ActionLink("À propos de", "About", "Home") - @Html.ActionLink("Contact", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
